<h2>Search Employees</h2>
<div class="row">
    <div class="col">
        <label for="">Min Salary</label>
        <input type="text" class="form-control" id="minSalary" [(ngModel)]="minSalary">
    </div>
    <div class="col"><label for="">Max Salary</label>
        <input type="text" class="form-control" [(ngModel)]="maxSalary">
    </div>
    <div class="col"><label for="">Page</label>
        <input type="text" class="form-control" [(ngModel)]="page"></div>
    <div class="col"><label for="">Sort By</label>
        <select name="" id="sortColumn" class="form-control" [(ngModel)]="sortColumnName">
            <option value="id">ID</option>
            <option value="name">Name</option>
            <option value="login">Login</option>
            <option value="salary">Salary</option>
        </select>
    </div>
    <div class="col"><label for="">Sort Order</label>
        <select name="" id="" class="form-control" [(ngModel)]="sortOrder">
            <option value="+">Aessending</option>
            <option value="-">Dessending</option>
        </select>
    </div>
    <div class="col">
        <label for="search">Search</label>
        <button id="search" class="form-control btn-primary" (click)="searchEmployee()"><svg width="1em" height="1em"
                viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg></button>
    </div>

</div>
<div>
    <div *ngFor="let e of employees">
        <app-employee-row [employee]="e"></app-employee-row>
    </div>
</div>