.card-wrapper {
    margin-top: 10px;
}
.row-style {
    border: solid 1px;
    background-color: whitesmoke;
    padding-top: 2px;
    padding-bottom: 2px;
}

.col-style {
    padding-top: 3px;
    padding-bottom: 3px;
}